In [3]:
import pandas as pd

In [4]:
from datetime import datetime

In [5]:
import mysql.connector as db

In [6]:
from sqlalchemy import create_engine

In [7]:
data = pd.read_csv("traffic_stops.csv",low_memory=False)

In [8]:
# Data Cleaning
# Drop Unwanted Columns
data.drop( ["driver_age_raw", "violation_raw"] , axis = 1, inplace=True)

In [9]:
# Drop fully empty columns
data.dropna(axis=1, how='all', inplace=True)

In [10]:
# Check null columns
data.isnull().sum()

stop_date                 0
stop_time                 0
country_name              0
driver_gender             0
driver_age                0
driver_race               0
violation                 0
search_conducted          0
search_type           21720
stop_outcome              0
is_arrested               0
stop_duration             0
drugs_related_stop        0
vehicle_number            0
dtype: int64

In [11]:
# Change null in search type column
data.fillna({"search_type":"Unknown"}, inplace=True)

In [12]:
# Check rows missing
rows_missing = data[data.isnull().any(axis=1)]
print(rows_missing)

Empty DataFrame
Columns: [stop_date, stop_time, country_name, driver_gender, driver_age, driver_race, violation, search_conducted, search_type, stop_outcome, is_arrested, stop_duration, drugs_related_stop, vehicle_number]
Index: []

In [13]:
# Check duplicates
duplicates = data[data.duplicated()]
print("Total duplicate rows:",len(duplicates))

Total duplicate rows: 0

In [14]:
duplicates_subset = data[data.duplicated(subset=["vehicle_number"])]
print("Duplicates based on vehicle:",len(duplicates_subset))

Duplicates based on vehicle: 0

In [15]:
data["timestamp"] = pd.to_datetime(data["stop_date"].astype(str) + " " + data["stop_time"].astype(str))

In [16]:
# Create MySQL connection
connection = db.connect(

                host = "localhost",
                user = "root",
                password = "Rashsur1995*",
                database = "securecheck"
)

In [17]:
cursor = connection.cursor()

In [18]:
# Create Table
cursor.execute("""CREATE TABLE IF NOT EXISTS signal_check (
    id INT AUTO_INCREMENT PRIMARY KEY,
    stop_date Date,
    stop_time Time,
    country_name VARCHAR(50),
    driver_gender VARCHAR(10),
    driver_age INT,
    driver_race VARCHAR(30),
    violation VARCHAR(50),
    search_conducted BOOLEAN,
    search_type VARCHAR(50),
    stop_outcome VARCHAR(50),
    is_arrested BOOLEAN,
    drugs_related_stop BOOLEAN,
    stop_duration VARCHAR(50),
    vehicle_number VARCHAR(30),
    timestamp DateTime
);
""")

In [19]:
! pip install pymysql

Requirement already satisfied: pymysql in c:\users\b rashmi surya vetri\appdata\local\anaconda3\lib\site-packages (1.1.2)

In [40]:
# Create connection
engine = create_engine("mysql+pymysql://root:Rashsur1995*@localhost/securecheck")

In [41]:
# Insert Dataframe into MySQL
data.to_sql("signal_check",engine,if_exists="replace",index=False)

65538